/* Universal Seclector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
}
body {
  background-color: #d9dcd6;
}
section {
  margin-bottom: 2em;
}
.header {
  background-color: #2a607c;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.header h1 {
  display: inline-block;
  font-size: 48px;
  color: white;
}
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.header nav ul {
  list-style-type: none;
  color: white;
}
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  color: white;
}
.content .intro {
  padding: 70px;
}
.section-title-intro {
  margin-left: 24em;
}
.paragraph {
  margin-left: 38em;
}

.project-pic1 {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 60%; */
}
/* .PosRel{
  position: relative; */
/* } */
.selfPic {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project-pic {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project-pic1 {
}
.project-pic2 {
  width: 300px;
  display: block;
  margin-left: 16em;
}
.project-pic3 {
  width: 300px;
  display: block;
  margin-left: 35em;
  margin-bottom: 35 em;
  position: absolute;
  bottom: -52.5em;
}
.project-pic4 {
  width: 300px;
  display: block;
  margin-left: 50em;
  margin-right: auto;
  position: absolute;
  bottom: -52.5em;
}

/* margin-left: auto;
  margin-right: auto; */

.intro {
}

.section-title {
  text-align: center;
}

.About {
  margin-left: 20em;
  margin-right: 20em;
}
.messages {
  margin-top: 2em;
  margin-left: 20em;
}
.email {
  margin-top: -1.1em;
  margin-left: 37em;
}
.Linkedin {
  margin-top: -1.15em;
  margin-left: 54em;
}

/* mediaQ's */
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones  */
@media screen and (max-width: 768px) {
}

/* Small smartphones */
@media and (max-width: 576px) {
}
