/* Universal Seclector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  flex-wrap: wrap;
}
body {
  background-color: #d9dcd6;
}
header {
  position: relative;
}
.header {
  background-color: #2a607c;
  padding-left: 1%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.header h1 {
  display: inline-block;
  font-size: 48px;
  color: white;
}
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.header nav ul {
  list-style-type: none;
  color: white;
}
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
  color: white;
}
.content {
}
.content .intro {
  padding: 70px;
}

.pic1 {
  max-width: 300px;
}
